/* Edited so now this is just stuff to do with the header, footer, navigation, etc. */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 92px;
    width: 100%;
    background: #208d2d;
    font-weight: 500;
}

main {
    flex: 1 calc(100vh - 154px);
}

footer {
    flex: 0 50px;
    background: #208d2d;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    padding: 20px;

}

footer a {
    float: right;
}

.nav-item {
    margin: 0 10px;
    font-size: larger;
}

.nav-link {
    color: white;
}

.navbar-head {
    color: white;
    font-size: 60px;
    line-height: 70px;
    font-family: "Bangers";
    font-weight: 300;
    text-align: center;
    margin: 3px 15px;
}

#mobile-nav {
    display: none;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#mobile-nav .navbar-nav {
    justify-content: center;
    width: 100%;
}

.nav-link img {
    width: 60px;
    height: 60px;
    margin: 0 12px;
    filter: invert(1) brightness(2);
}

@media (max-width: 600px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}